@import url('https://fonts.googleapis.com/css?family=Roboto');

html, #main {
  background-color: #f9f9f9;
}

* {
  font-family: 'Roboto', sans-serif;
}

body.smart-style-6 .table>tbody>tr>td, body.smart-style-6 .table>tbody>tr>th, body.smart-style-6 .table>tfoot>tr>td, body.smart-style-6 .table>tfoot>tr>th, body.smart-style-6 .table>thead>tr>td, body.smart-style-6 .table>thead>tr>th {
  text-align: center;
}

.onboard-btn{
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  background: #3b723b;
  padding: 0px 10px;
}

.btn-onboard{
  border-radius: 136px;
  width: 55px;
  height: 55px;
  padding: 20px 0px;
  font-size: 14px;
  background-color: transparent !important;
  border: 0px;
  margin-bottom: 15px;
  color: #407640;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.dataTables_filter .input-group-addon+.form-control{
  background: #fafafa;
}

.btn-onboard i{
  font-size: 40px;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  background-color: #cccccc !important;
}

.dataTables_filter .input-group-addon{
  border: 0px;
  border-bottom: 1px solid #ccc;
}

div#dt_basic_length .select2 {
  display: none;
}

/*.well input {
  background: #fbfbfb;
}*/

.login-page{ 
		background: #0079C1 !important;
  background-image: url('/assets/bg.png') !important;
  background-image: url('/assets/bg.png'), linear-gradient(#0079C1, #0079C1) !important;
  background-size: cover !important;
  height: 100vh
}

 .hasDatepicker{
  width: 100%;
  height: 35px;
  clear: both;
}

*[data-role=activerecord_sortable]{
  list-style: none;
  padding: 0px;  
}

span.sub-fields-arrow:before {
  content: "\2937";
  font-size: 60px;
}

.white-text { color: #fff !important }
.white-text *{ color: #fff !important }

.login-form-wrapper { margin-top: 45px; }

#sparks li { text-align: center }
#sparks li h5 { width: 100% !important }

.no-padding { padding: 0px !important }

.jarviswidget .widget-body { padding-bottom: 0px; }

.col-md-8.data {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.fa.timeline-icon {
	padding: 18px 19px;
	color: #fff;
}

.current-month-info{
  font-size: 16px !important;
  line-height: 25px;
  letter-spacing: 5px;
  color: #bbb !important;
}

.current-month-info span {
  font-size: 25px;
}

#sparks {
  padding-right: 10px;
}

.login-info a span{
  text-transform: lowercase;
}

.inbox-info-bar, .inbox-message {
  margin-right: 20px !important;
}

.no-padding-bottom { padding-bottom: 0px !important; }
.no-padding { padding: 0px !important; }

ul.notifications {
  list-style-type: none;
  padding: 0px;
}

ul.notifications li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

ul.notifications li:hover,
ul.notifications li.unread {
  background: #fafafa;
}

ul.notifications li p {
  margin: 0px !important;
}

ul.notifications li p.date {
  font-size: 10px;
  color: #8c8c8c;
  text-align: right;
}

.ajax-dropdown { height: auto; background: #e9e9e9; }
.ajax-notifications { background-color: #fff; }

.seperator{
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-b-20{
  margin-bottom: 20px;
}

div.link-to-add {
  width: 100px;
}
div.link-to-add > * {
  color: #fff
}

.turn-to-text {
  font-size: 11px;
  position: relative;
  bottom: 15px;
  cursor: pointer;
}

.score-form {
  background: #eeeeee;
  padding: 30px;
  margin-bottom: 10px;    
  height: 115px;
}

.score-form > div {
  border-right: 1px solid #ccc;
}

.score-form > div:last-child {
  border-right: none !important;
}

.force-center {
  margin: 0 auto;
  display: block;
}

.no-border { border: 0px !important; }

#notes-modal { height: 100%; }

#notes-modal .notes {
  height: 80%;
  padding: 10px;
  background: #e5e5e5;
}

#notes-modal .notes .message {
  max-width: 40%;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: -1px 2px 0px #D4D4D4;
  margin-bottom: 15px;
}

#notes-modal .notes .message p {
  margin: 0;
  font-size: 10px;
  text-align: right;
  margin-top: 10px;
  color: #ccc;
}

#notes-modal .input {
  height: 20%;
}

#notes-modal .input > div.col-md-10 {
  padding: 0;
  height: 100%;
}

#notes-modal .input > div.col-md-10 textarea {
  width: 100%;
  height: 100%;
  border: 0px;
  border-right: 1px solid #e1e1e1;
  padding: 10px 10px 30px 10px;
  resize: none;
}

#notes-modal .input > div.col-md-10 .type {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.send-wrapper {
  height: 100%;
  background: #3a3633;
  padding: 25px 20px;
  color: #fff;
  cursor: pointer;
}
.send-wrapper:hover {
  background: #026a9e;
}
.send-wrapper p {
  font-size: 18px;
}

.form-wizard-steps {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-bottom: 50px;
}

.form-wizard-steps header {
  border-bottom: 1px solid #ccc !important;
}

.form-wizard-steps ul {
  margin: 0 auto !important;
}

.fuelux .wizard ul {
  width: 100%;
}
.fuelux .wizard ul li {
  width: 25%;
}

.form-wizard-wrapper {
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px #d8d8d8
}

.form-wizard-wrapper header,
.form-wizard-wrapper > div {
  border: 0px;
}

.form-wizard-wrapper header{
  border-bottom: 1px solid #ccc;
}

.select2-results li{ 
  padding: 5px;
  font-weight: bold;
}

div.note {
  max-height: 250px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
div.note h5 {
  color: #000; margin-bottom: 0px
}
div.note h5 span {
  font-size: 9px;
}
div.note label { margin: 0 }

.note-box {
  display: none;
}

.note-controls .send-wrapper{
  margin-top: 23px;
}

.note-controls label{
  color: #ccc;
}

textarea.note {
  height: 111px;
  margin: 0px;
  width: 100%;
  resize: none;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
}

.note-technology {
  position: relative !important;
  top: 27px !important;
  width: 98.5% !important;
}

.note-history {
  line-height: 85px;
  margin-top: 50px;
}

.select2-container .select2-choice .select2-arrow, .select2-selection__arrow {
  background: #fff;
}

.select2-container .select2-choice, .select2-selection {
  border: 0;
  border-bottom: 1px solid #f1f1f1;
}

.select2-search{ padding: 0; }

.select2-search input{
  border-color: #ccc;
  border-left: 0px;
  border-right: 0;
  background: none; 
}

.select2-results .select2-highlighted, .select2-results__option--highlighted{
  background: #007ac3;
}

.select2-container--open .select2-dropdown, .select2-drop-active{
  border-color: #ccc;
}

.select2-container--open .select2-selection, .select2-container-active .select2-choice, .select2-container-active .select2-choices,
span.select2-selection__arrow{
  border: none;
}

#ribbon{
  padding: 0 26px !important;
}

.qtip-icon .ui-icon {
  font: normal bold 12px/16px Tahoma,sans-serif;
}
.qtip-default .qtip-icon{ padding: 4px; }

.need-follow-up {
  background-color: rgba(255, 168, 168, 0.7) !important;
  border: 1px solid #ff8282 !important;
  border-radius: 5px !important;
  padding-top: 10px !important;
  margin-bottom: 10px;
  min-height: 75px;
  padding: 5px;
  margin-top: 5px;
}

.follow-up-success {
  background-color: rgba(136, 212, 146, 0.7) !important;
  border: 1px solid #25ab05 !important;
  border-radius: 5px !important;
  padding-top: 10px !important;
  min-height: 75px;
  padding: 5px;
  margin-top: 5px;
}

.resolve-btn {
  position: relative;
  bottom: 33px;
}

.resolve-btn:active,
.resolve-btn:focus {
  position: relative;
  bottom: 33px;
  top: auto;
}

hr.note-seperator {
  margin: 5px 0;
  border-top: 1px solid #90b7ce;
  clear: both;
}

.btn.btn-danger {
  background: #ad0000;
  border-color: #ad0000;
}

.tip-wrapper.law-firm {
  line-height: 0px !important;
  float: right !important;
  padding-left: 10px !important;
}

.note-wrapper{
  width: 50px;
  position: absolute;
  right: -50px;
  margin-top: 50px;
}

.qtip-blue {
  background-color: #007ac3 !important;
}

.note-controls .note p {
  font-size: 13px;
}

.note-controls .note span {
  color: #90b7ce !important;
}

.note-controls .note p,
.note-controls .note span {
  color: #fff;
}

.need-follow-up textarea, 
.need-follow-up input[type="text"]{
  padding-left: 7px !important;
}

.dashboard-certificate-button {
  clear: both;
  margin-bottom: 20px;
  margin-right: 27px;
}

body.smart-style-6 .minifyme {
  bottom: 450px;
  right: -10px;
}

.check-mark-wrapper {
  float: left !important;
  line-height: 0px;
}

.m-b-20{ margin-bottom: 20px; }

.security-alerts{
  height: 367px;
  overflow: scroll !important;
}

.security-threats.jarviswidget>div {
  padding: 13px !important;
  min-height: 366px;
}

.login-info span {
  margin-top: 0px !important;
  color: #000 !important;
  line-height: 28px;
}

.fuelux .wizard ul li.active {
  color: #ffffff;
  background: #007ac3;
}

.fuelux .wizard ul li.active .chevron:before {
  border-right-color: #f1f6fc;
}

.fuelux .wizard ul li a {
  border-right-color: #007ac3;
  font-weight: bold;
}

.fuelux .wizard ul li.active a {
  color: #fff;
}

.fuelux .wizard ul li.active .chevron:before {
  border-left: 14px solid #007ac3;
}

.fuelux .wizard ul li .chevron {
  border-left: 14px solid #fff;
}

tr.law-firm-row {
  cursor: pointer;
}

tr.law-firm-row:hover {
  background: #efefef;
}

.h-300 { height: 300px !important; }

.no-resize { resize: none }

#law-firms + span.select2 { width: 100% !important; }


ul.internal-notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

ul.internal-notes li, ul.tag-list li {
  list-style: none;
}

ul.internal-notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

ul.internal-notes li div p {
  margin-top: 15px;
}

ul.internal-notes li .delete-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  border-radius: 50%;
  padding: 2px 6px;
}

ul.internal-notes li > div {
  -webkit-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}

ul.internal-notes li > div:nth-child(odd) {
  -o-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
}

div.rotate-1 {
}

div.rotate-2 {
}

.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  background-color: #EFF2B9;
  color: #444;
}

ul.internal-notes li div p {
  text-decoration: none;
  color: #000;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  overflow-y: scroll;
}

#new-note {
  width: 100%;
  height: 60px;
  background: #f4f4f4;
  margin: 0 auto;
  display: block;
  padding: 10px;
  resize: none;
}

#internal-note-form {
  margin-bottom: 70px !important;
}

#internal-note-form input[type="submit"] {
  padding: 15px 29px;
  font-size: 20px;
  border-radius: 0px;
  border-right: 0px;
}


.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.jq-ry-container[readonly="readonly"] {
  cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.average-score-rating{ margin-bottom: 20px }

.seal-score { height: 100px; }

.rating-label {
  letter-spacing: 5px;
  font-size: 10px;
  color: #808080;
}

.activity-search-bar { margin-bottom: 10px; }

.activity-search-bar input[type="text"] {
  border: 0;
  border-bottom: 1px solid #ccc;
  height: 32px;
}

.no-padding-left { padding-left: 0px !important; }

#db_lfs_wrapper .dt-toolbar, 
#db-curr-threats .dt-toolbar {
  padding: 0 !important;
}

#db_lfs_wrapper .dt-toolbar-footer {
  padding: 0 !important;
}

.content-in-jarvis {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.portal-type{ 
  line-height: 50px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-weight: bold; 
}

.severity-level-wrapper {
  min-height: 400px; background-color: #f1f1f1; padding: 20px; border: 1px; border-bottom: 1px solid #ccc
}

.current-stats {
  background-color: #007ac3;
  padding: 10px 0px;
}

.current-stats ul#sparks {
  margin: 0 auto;
  width: 675px !important;
}

.current-stats ul#sparks li span{
  color: #fff !important
}

.no-margin-top { margin-top: 0 !important; }

.form-field-header {
  margin-top: 0px;
  background: #007ac3;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  cursor: pointer
}

.form-field-wrapper {
  padding: 0px;
}

.form-field-wrapper .form-field-content {
  padding: 15px;
  display: none;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.form-field-header span:last-child {
  font-weight: 300;
  font-size: 12px;
  float: right;
  margin-top: 4px;
}

.form-enclosure {
  background: #fff;
  box-shadow: 2px 2px 10px #4a4a4a;
  border: 3px solid #ccc;
  padding: 15px;
  padding-right: 65px;
}

.form-enclosure label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #007ac3;
}

.select2-selection {
  font-size: 14px;
}

.form-enclosure .wrapper .form-group {
  margin-bottom: 50px;
}

.user-form-wrapper {
  background-image: url('/assets/bg-photo.jpg') !important;
  background-size: cover;
}

.tech-form-wraper,
.history-form-wrapper {
  background: #fff;
  padding: 20px 30px !important;
  box-shadow: 2px 2px 10px #4a4a4a;
  border: 3px solid #ccc;
}

.file-name-holder {
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0px;
}

.file-name-holder:last-child {
  margin-bottom: 10px !important;
}

.form-control {
  border-bottom: 1px solid #f1f1f1 !important;
}
.form-control[disabled] {
  border-bottom: 1px solid #f1f1f1 !important;
}

h3.firm-score-approved,
h3.firm-score-declined {
  margin: 5px;
}

h3.firm-score-approved span {
  color: green
}

h3.firm-score-declined span {
  color: red
}

#law-firm-score {
  margin-bottom: 8px;
}

#sec-threat_filter label {
  width: 100%;
}

#sec-threat_filter label input {
  width: 95% !important;
}

.help-text {
  color: #7297a8;
}

.delete-file:last-child {
  margin-bottom: 20px;
}

.vendor .form-group,
.cyber-security .form-group {
  margin-bottom: 0px !important;
}

.add-vendor { margin-bottom: 35px; }

.law-firm-controls a {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.no-border {
  border: none !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important
}

.threat-warning {
  position: relative;
  left: 50px;
  bottom: 32px;
  font-size: 15px;
  color: yellow;
  background: red;
  border-radius: 0px 5px 0px 5px;
}

.within-block {
  background-color: #e1e1e1 !important;
}

.threat-found i:hover, .threat-found:hover i {
  color: #FFF;
}

.wrapper {
  margin-bottom: 80px;
}

.control-label i {
  background-color: yellow;
  border-radius: 50%;
  position: relative;
  bottom: 10px; 
}

.gfe-field label {
  color: #9c9c9c !important;
  font-size: 16px !important;
}
